{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%", "not op_mini all"]
        }
      }
    ],
    "react"
  ],
  "env": {
    "production": {
      "plugins": [
        ["emotion", { "hoist": true }],
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        ["emotion", { "sourceMap": true, "autoLabel": true }],
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "syntax-dynamic-import"
      ]
    }
  }
}